<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Añadir Dirección</title>

    <!-- Agregar las referencias a Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h2>Añadir Dirección</h2>

        <!-- Formulario para agregar dirección -->
        <form th:action="@{/guardarDireccion/{usuarioId}(usuarioId=${usuario.id})}" method="post">
            <div class="form-group">
                <label for="codigoPostal">Código Postal:</label>
                <input type="text" class="form-control" id="codigoPostal" name="codigoPostal" required/>
            </div>
            <div class="form-group">
                <label for="ciudad">Ciudad:</label>
                <input type="text" class="form-control" id="ciudad" name="ciudad" required/>
            </div>
            <div class="form-group">
                <label for="calle">Calle:</label>
                <input type="text" class="form-control" id="calle" name="calle" required/>
            </div>
            <button type="submit" class="btn btn-success">Guardar</button>
        </form>
        
        <!-- Enlace para volver a la lista de usuarios -->
        <a th:href="@{/listarUsuarios}">Volver a la lista de usuarios</a>
    </div>

    <!-- Agregar las referencias a Bootstrap JS y Popper.js (necesarios para algunos componentes de Bootstrap) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
