<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Listar Usuarios</title>
</head>
<body>
<h2>Aqui se van a listar los usuarios llamando al servicio adecuado </h2>

    <h2>Tabla de Usuarios</h2>

    <table border="1">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Email</th>
                <th>Direcciones</th>
            </tr>
        </thead>
        <tbody>
            <!-- Iterar sobre la lista de usuarios -->
            <tr th:each="usuario : ${listaUsuarios}">
                <td th:text="${usuario.name}"> name </td>
                <td th:text="${usuario.email}"> email </td>
                <td>
                    <!-- Crear una tabla para las direcciones del usuario -->
                    <table border="1">
<!--                        <thead>
                            <tr>
                                <th>Dirección</th>
                            </tr>
                        </thead>-->
                        <tbody>
                            <!-- Iterar sobre la lista de direcciones del usuario -->
                            <tr th:each="direccion : ${usuario.direcciones}">
                                <td th:text="${direccion}"> direcciones </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>

</body>
</html>


